{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <br>
    <section>
        <div class="container mb-5">
            <div class="align-items-center">
                <div class="page-header">
                    <h1>Password Reset Confirmation</h1>
                </div>

                {% if validlink %}
                    <p class="text-muted">New password for account: {{ form.user.get_username }}</p>
                    <form method="POST">
                        {{ form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Set new password</button>
                    </form>

                {% else %}

                    <div class="alert alert-danger">
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </div>

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
