IMAGE_NAME=ci.attacking-lab.com/ad-platform/django
DEPLOYMENT=local
HOST_NAME=ctf.localhost
DATA_ROOT=./

DJANGO_DEBUG=false

POSTGRES_DB=ctf-platform
POSTGRES_USER=ctf-platform
POSTGRES_PASSWORD=
REDIS_PASSWORD=

# python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
HCAPTCHA_SITE_KEY=
HCAPTCHA_SECRET_KEY=

# Enable logging driver via:
# docker plugin install elastic/elastic-logging-plugin:${STACK_VERSION} --grant-all-permissions
STACK_VERSION=8.15.5
ELASTIC_SERVER=https://elastic.ctf.saarland:9200
ELASTIC_PASSWORD=
