{{#*inline "page"}}
    <h1>
        <img src="/static/img/jitterish-transparent.webp" class="logo">
        JitterishDB
        <span class="subtitle">fast - modern - cyber</span>
    </h1>

    <div data-augmented-ui class="main-card text-center">
        <p>
            Tired of slow old databases?<br/>
            Tired of managing databases yourself?
        </p>
        <p class="lead">
            Rent a database in the cyberspace!
        </p>
        <p>
            We provide the most performant database in the cyberspace.
            With our patented just-in-time technology, we run your queries faster than ever!
        </p>

        <p>
            <a data-augmented-ui class="btn btn-lg btn-secondary" href="/session/register">signup today!</a>
        </p>

        <div>
            <small><a href="/session/login">already a customer? login...</a></small>
        </div>
    </div>

    <div class="spacer-2"></div>
    <div class="quote-block">
        <blockquote>With Jitterish, we boosted our DB performance by 1337% within a year</blockquote>
        <div class="quote-author">simple hosting solutions</div>
    </div>
    <div class="quote-block">
        <blockquote>no more random maintainance interrupts!</blockquote>
        <div class="quote-author">So Much Hosting</div>
    </div>
    <div class="quote-block">
        <blockquote>finally, a database without bloat</blockquote>
        <div class="quote-author">host with the most</div>
    </div>
    <div class="spacer-2"></div>

    <div data-augmented-ui class="content-card-2">
        <h4 class="title">Trusted by industry professionals</h4>
        <div class="logo-container">
            <div class="thumb"><img class="logo" src="/static/img/logo1.svg"/></div>
            <div class="thumb"><img class="logo" src="/static/img/logo2.svg"/></div>
            <div class="thumb"><img class="logo" src="/static/img/logo3.svg"/></div>
        </div>

        <br/>
        <div class="text-center">
            <a data-augmented-ui class="btn btn-secondary" href="/customers">see more ...</a>
        </div>
    </div>

    <div class="spacer-2"></div>

    <div data-augmented-ui class="content-card-1 text-center">
        <p>Learn the Jitterish Query Language!</p>
        <a data-augmented-ui class="btn btn-lg btn-secondary" href="/docs">Documentation</a>
    </div>

{{/inline}}
{{> default title="Welcome" pagename="home"}}
