{{#*inline "page"}}
    <h1>Welcome, customer!</h1>

    <div data-augmented-ui class="main-card">
        <p>Please login to continue.</p>

        <form action="/session/login" method="post" accept-charset="utf-8">
            <div class="row">
                <div class="col">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value=""/>
                </div>
                <div class="col">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value=""/>
                </div>
            </div>
            <br/>
            <p><input data-augmented-ui type="submit" value="login"></p>
        </form>
    </div>
{{/inline}}
{{> default title="Login" pagename="login"}}