---
cte_vulnbox_meta_repo_url: ...
cte_vulnbox_encryption_pw: ...
demo_vulnbox_meta_repo_url: ...
ecsc_vulnbox_meta_repo_url: ...
player_demo_vulnbox_meta_repo_url: ...

checker_env_secrets:
    GITHUB_PAT: ...

gameserver_repo_url: ...
image_registry_token:
    server: ...
    username: ...
    password: ...

artifact_registry_token: 
    server: ...
    username: ...
    password: ...
