IMAGE_REGISTRY=AAAAAAAAAAAAAAAAAAAA

POSTGRES_SERVER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=playground
POSTGRES_USER=playground
POSTGRES_PASSWORD=00000000000000000000000000000000

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=00000000000000000000000000000000

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_VHOST=playground
RABBITMQ_DEFAULT_USER=playground
RABBITMQ_DEFAULT_PASS=playground

TIMESCALE_SERVER=ctf-metrics-rw.playground.svc.cluster.local
TIMESCALE_DB=app
TIMESCALE_USER=app
TIMESCALE_PASSWORD=...

# openssl rand -hex 32
SECRET_FLAG_KEY=0000000000000000000000000000000000000000000000000000000000000000

CONFIG_FILE=/opt/config.yaml
PUBLIC_SCOREBOARD_PATH=/var/public/scoreboard
INTERNAL_SCOREBOARD_PATH=/var/internal/scoreboard

CHECKER_CONCURRENCY=64
