[Unit]
Description=Start Services
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /root/services/start.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
